## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 1.0
  - 1.1
  - nightly

notifications:
  email: false

matrix:
 allow_failures:
   - julia: nightly

# Use Conda to install geographiclib
env:
  global:
    - PYTHON=""

after_success:
  # push coverage results to Coveralls
  - julia -e 'import Pkg; cd(Pkg.dir("GeographicLib")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
